<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://xiaoyucloud114514.oss-cn-hangzhou.aliyuncs.com/ipa/NeteaseMusic/%E7%BD%91%E6%98%93%E4%BA%91%E9%9F%B3%E4%B9%90_2.7.1.ipa</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.netease</string>  
                <key>bundle-version</key>  
                <string>2.7.1</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>网易云2.7.1</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>
 