<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="google" content="notranslate">
    <link rel="icon" type="image/x-icon" href="assets/logo.png">
    <style>
        {% include 'includes/style.css' %}
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="header-title" id="top">{% block header %}{% endblock %}</h1>
        </div>
        {% block content %}{% endblock %}
        <div class="footer">
            Copyright &copy{{ now.strftime('%Y') }}
            <a target="_blank" href="{{ copyright['url'] }}">{{ copyright['name'] }}</a> |
            Email: <a href="#email" class="protected-email">(protected)</a>
        </div>
    </div>
    <script>
        {% include 'includes/main.js' %}
        (function() {
            document.querySelector('.protected-email').innerText =             decodeEmail("{{ encode_email(email) }}");
            document.querySelector('.protected-email').href      = 'mailto:' + decodeEmail("{{ encode_email(email) }}");
        })();
    </script>
</body>
</html>
